---
import Layout from "../layouts/layout.astro";
import Bio from "../sections/bio.astro";
import Change from "../sections/change.astro";
import Process from "../sections/process.astro";
import Hypnosis from "../sections/hypnosis.astro";
import WeightManagement from "../sections/weightManagement.astro";
import ProfessionalPerformance from "../sections/professionalPerformance.astro";
import TabaccoFree from "../sections/tabaccoFree.astro";
import Schooling from "../sections/schooling.astro";
import Testimonies from "../sections/testimonies.astro";
import Skills from "../sections/skills.astro";
import Services from "../sections/services.astro";
import Location from "../sections/location.astro";
import Partnership from "../sections/partnership.astro";
---

<Layout title="Caroline Guyot - Coaching & Hypnose">
  <div class="flex flex-col w-full">
    <Bio />
    <Change />
    <Process />
    <Hypnosis />
    <WeightManagement />
    <ProfessionalPerformance />
    <TabaccoFree />
    <Schooling />
    <Testimonies />
    <Skills />
    <Partnership />
    <Services />
    <Location />
  </div>
</Layout>

<style is:global>
  html {
    scroll-behavior: smooth;
  }

  @media (prefers-reduced-motion: reduce) {
    :global(html) {
      scroll-behavior: auto;
    }
  }
</style>
