---
interface Props {
  isNavbar: boolean;
}

const { isNavbar = false } = Astro.props;
---

<div class={`${isNavbar ? "" : "py-12 sm:py-20"} px-7 flex justify-center`}>
  <div class={"w-full max-w-6xl min-w-0"}>
    <slot />
  </div>
</div>
