---
interface Props {
  items: string[];
  darkFont?: boolean;
}

const {items, darkFont} = Astro.props;
---

<div class="gap-3 pl-3 flex flex-col">
  {items.map(item => (
    <div class="flex-row gap-3 items-center flex">
      <div>
        <div class={`w-1 h-1 ${ darkFont ? "bg-independence" : "bg-baby-powder" } rounded-full`} />
      </div>
      <div>{item}</div>
    </div>
  ))}
</div>
