---
interface Props {
  items: string[];
}

const { items } = Astro.props;
---

<ul class="list-disc ml-4 flex flex-col gap-3">
  {
    items.map((item) => (
      <li class="pl-1">
        <div>{item}</div>
      </li>
    ))
  }
</ul>

<style>
  li::marker {
    font-size: 0.8em;
  }
</style>
