---
import stretching from "../assets/photo/square/stretching.jpeg";
import { CenteredBlock, Chapter, List } from "@components";
---

<CenteredBlock>
  <Chapter>
    <Fragment slot="title"
      >Partenaire des séjours "La Bulle" aux Terres de Gaia</Fragment
    >
    <div>
      Babsie Steger, ancienne danseuse classique de l'opéra de Vienne, Coach de
      Vie, Yoga Trainer et Chef culinaire vous ouvre les portes de son superbe
      domaine au coeur du Gers et conçoit pour vous des séjours immersifs à
      thèmes (gestion du poids, du stress, sublimer son capital beauté,
      detoxifier son corps et son esprit, apprendre à retrouver l'équilibre
      grâce à la pleine conscience, l'hypnose et l'auto-hypnose, le yoga...) <br
      />
      <br />
      Vous vivrez une expérience événementielle (seulement quelques séjours par an)
      au travers des ateliers et temps forts (en groupe ou en individuel) animés
      par des intervenants sélectionnés pour leur solide expérience, dont j'ai le
      privilège de faire partie.
      <br />
      <br /> Plus d’informations sur:
      <a
        href="https://www.lesterresdegaia.com/"
        class="underline underline-offset-4">lesterresdegaia.com</a
      >
    </div>
  </Chapter>
</CenteredBlock>
