---
import { BiRegularBookOpen } from "solid-icons/bi";
import Chapter from "../components/chapter.astro";
import {Slider} from '../components/slider'
---


<Chapter darkColor={true}>
  <Fragment slot="title" >
    <div class="flex gap-4 items-center">
      <BiRegularBookOpen class="text-3xl"/><span>Retours d’expérience</span>
    </div>
  </Fragment>
  <Slider client:only="solid-js" />
</Chapter>
